@import '../samples/samples.scss';

._card {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .3s ease;
    padding: 20px;


    &-body {
        margin-bottom: 10px;
    }

    &-type {
        color: #999;
        line-height: 22px;
        font-weight: 400;
        font-size: 14px;
        max-width: 220px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    &-title {
        color: #2e353e;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        width: 100%;
        max-width: 245px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }

    &:hover {
        transform: scale(0.98);
    }

    &__img {
        position: relative;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // height: 100%;
        // width: 100%;

        &.video{
            padding-top: 52.26%;
        }

        &>img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &-tooltip {
            position: absolute;
            left: 15px;
            top: 15px;
            color: #fff;
            font-size: 9px;
            font-weight: 600;
            padding: 0 8px;

            &.top {
                background-color: #d2322d;
            }

            &.new {
                background-color: #47a447;
            }
        }
    }

    &__subTitle {
        @extend %font-card-sub-title;
        display: block;
        max-width: 220px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__title {
        @extend %font-card-title;
        display: block;
        max-width: 220px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
