.remove {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #333342, $alpha: .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__modal {
        background: #FFFFFF;
        box-shadow: 0px 0px 0px 1px rgba(0, 44, 94, 0.1), 0px 10px 20px -4px rgba(0, 44, 94, 0.15);
        padding: 28px 32px;
        border-radius: 20px;
        width: 100%;
        max-width: 420px;

        &-title {
            color: #333342;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
        &-btns{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}