@import '../samples/samples.scss';

.contentHeader {
    background-color: #171717;

    &__inner {
        // height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        border-left: 1px solid #3A3A3A;
        border-bottom: 4px solid #CCC;
    }

    &__left {
        margin-right: 15px;
        display: flex;
        align-items: center;
        padding: 14px 22px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            border-bottom: 4px solid #0088CC;
            width: 100%;
            height: 4px;
        }

        &-title {
            margin-right: 22px;
            color: #fff;
            font-size: 19px;
            font-weight: 400;
            display: block;
            max-width: 215px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        @extend %font-contentHeader-crumb;

        &>span {
            margin-left: 10px;
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            padding-left: 15px;

            &::before {
                content: '/';
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &-wrapper {
            max-width: 20px;
            margin-right: 10px;
        }
    }
}