@import '../samples/samples.scss';

.contentFilter {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 354px;

    &__inner {
        padding: 30px 15px;
    }

    &__top {
        padding: 13px 25px;
        cursor: pointer;

        &.closed {
            
            &+.contentFilter__body {
                height: 0;
                transition: height .3s ease;
                overflow: hidden;
            }
            &>.contentFilter__top-arrowDown{
                transform: translateZ(180deg);
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            pointer-events: none;

            &>span {
                @extend %font-contentFilter-title;
            }
        }

        &-arrowDown {
            &-wrapper {
                max-width: 10px;
            }
        }
    }

    &__body {
        padding: 5px 25px 0 25px;
        transition: all .5s ease;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @extend %font-contentHeader-body;
            margin-bottom: 13px;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


@keyframes slowOpenFilterMeny {
    0%{
        height: 235px;
        opacity: 1;
    }
    25%{
        height: 192px;
        overflow: hidden;
    }
    50%{
        opacity: 0.5;
        height: 96px
    }
    100%{
        height: 0;
        overflow: hidden;
    }
}

@keyframes closeFilterMeny {
    0%{
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    25%{
        height: 120px;
        overflow: hidden;
    }
    50%{
        opacity: 0.5;
        height: 200px;
        overflow: hidden;
    }
    75%{
        overflow: hidden;
        height: 235px;
    }
    100%{
        height: 238px;
        overflow: auto;
    }
}