@import '../samples/samples.scss';

.currentInfo {
    overflow-x: hidden;
    height: 100%;
    &__wrapper {
        position: relative;
    }

    &__inner {
        padding:  40px;
    }

    &__main,
    &__graphics,
    &__managers {
        display: flex;
        background-color: #fff;
        margin-bottom: 24px;

        &-left,
        &-right {
            padding: 40px 32px;
            width: 100%;
        }

        &-left {
            max-width: 305px;
            flex: 1 0 auto;
            background-color: #f9f9f9;
        }
    }


    &__tabs {
        background-color: #fff;
    }

    &__left {
        &-icon {
            margin-bottom: 10px;
        }

        &-title {
            @extend %font-profile-title;
            margin-bottom: 10px;
            &.required{
                &::after{
                    content: '*';
                    color: #d2322d;
                }
            }
        }

        &-text {
            @extend %font-profile-desc;
            width: 100%;
            max-width: 270px;
        }
    }

    &__right {
        width: 100%;

        &-input {
            display: flex;
            width: 100%;

            &:nth-child(2) {
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e7e7e7;
            }

            &:last-child {
                padding-top: 16px;
            }

            &>textarea {
                width: 100%;
                max-width: 565px;
                resize: none;
                height: 200px;
                border: 1px solid #e7e7e7;
                border-radius: 5px;
                padding: 6px 12px;
            }

            &>span {
                width: 100%;
                display: block;
                max-width: 295px;
                // flex-basis: 295px;
                flex: 1 1 295px;
                text-align: right;
                margin-right: 24px;
                white-space: pre-wrap;
                &.address::after {
                    content: '*';
                    color: #d2322d;
                }
            }

            &.date {
                padding-top: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid #e7e7e7;
                display: flex;
                align-items: center;
                &>span::after{
                    content: '*';
                    color: #d2322d;
                }
            }

            &.company,
            &.relize {
                padding-top: 16px;
            }
        }
    }

    &__input {
        width: 100%;
        position: relative;
        border: 1px solid #e7e7e7;
        max-width: 565px;
        border-radius: 5px;
        height: 45px;
        display: flex;
        align-items: center;
        overflow: hidden;


        &>input {
            width: 100%;
            padding: 6px 12px;
            font-size: 13px;
            line-height: 2.3;
            font-weight: 400;
            color: #212529;
        }

        &>span,
        &-clone {
            // width: 100%;
            height: 100%;
            color: #212529;
            background-color: #e9ecef;
            // max-width: 82px;
            padding: 4px 8px;
            font-size: 14px;
            display: flex;
            align-items: center;
        }

        &-left{
            white-space: nowrap;
            // max-width: 82px;
            // &.exist{
            //     max-width: 150px;
            // }
        }

        &-clone {
            max-width: 35px !important;
            cursor: pointer;

            &>img {
                width: 100%;
                height: auto;
                pointer-events: none;
                user-select: none;
            }
        }

        &-wrapper {
            width: 100%;
            max-width: 565px;
            // flex-basis: 565px;
            // flex: 0 1 565px;
            display: flex;
            align-items: center;
        }

        &-date,
        &-time {
            width: 100%;
            border: 1px solid #e7e7e7;
            display: flex;
            align-items: center;
            height: 40px;
            overflow: hidden;
            border-radius: 5px;

            &>span {
                background-color: #e9ecef;
                color: #212529;
                height: 100%;
                width: 100%;
                max-width: 40px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &>input {
                padding: 6px 12px;
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        &-date {
            margin-right: 24px;
        }

    }

    &__graphics {
        border: 1px solid transparent;

        &-right {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__right {
        &-dropzone {
            width: 100%;
            border: 2px dashed #e7e7e7;
            height: 200px;
            position: relative;

            &>label {
                // padding: 23px;
                height: 100%;
                width: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;

                &>input {
                    display: none;
                }
            }
        }
    }

    &__dropzone {
        position: relative;

        &-text {
            text-align: center;

            &>span {
                color: #0088CC;
                font-weight: 700;
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &-img {
            position: absolute;
            height: 100%;
            width: 100%;
            max-width: 200px;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        &-remove{
            position: absolute;
            left: 50%;
            top:  50%;
            transform: translate(-50%,-50%);
            z-index: 4;
            max-width: 45px;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-btn {
            cursor: pointer;
        }
    }

    &__btns {
        width: 100%;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            display: flex;
            align-items: center;
            &>button {
                padding: 16px 28px !important;
                margin-right: 12px;
            }
        }
    }

    &__tabs {
        width: 100%;
    }
}