@import '../vars.scss';
@import '../samples/samples.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    height: 60px;
    background-color: #fff;

    &__left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-logo {
            width: 100%;
            max-width: 95px;
            cursor: pointer;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 200px;

        &-user {
            width: 100%;
            position: relative;
        }

        &-verical {
            width: 1px;
            height: 40px;
            display: inline-block;
            background-color: rgba($color: $bodyColor, $alpha: .4);
            margin: 0 25px;
        }
    }

    &__input {
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            user-select: none;
            pointer-events: none;
        }
    }

    &__user {

        &-input {
            width: 100%;
            cursor: pointer;

            &.active {
                &+.header__user-dropDown {
                    display: block;
                }

                .header__user-arrowDown {
                    transform: rotateX(180deg);
                }
            }
        }

        &-avatar {
            width: 100%;
            max-width: 35px;
            min-height: 35px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &>img {
                width: 100%;
                height: 100%;
                background-size: cover;
            }

        }

        &-initials {
            margin-left: 10px;
            margin-right: 25px;
            // width: 100%;
            max-width: 120px;

            &>span {
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;


                &:first-child {
                    @extend %font-user-name;
                }

                &:last-child {
                    @extend %font-user-role;
                }
            }
        }

        &-arrowDown {
            max-width: 10px;
            transition: all .3s ease;
        }

        &-dropDown {
            display: none;
            position: absolute;
            left: 0;
            top: 40px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);
            border-radius: 3px;
            z-index: 10;

        }
    }

    &__dropDown {

        &-items {
            padding: 8px 10px;
            margin-top: 5px;
        }

        &-item {
            display: flex;
            align-items: center;
            padding: 4px 10px;
            color: #7d7d7d;
            line-height: 20px;
            font-size: 12px;
            cursor: pointer;
            margin-bottom: 5px;
            transition: color .3s ease, background-color .3s ease;

            &:hover {
                color: #fff;
                background-color: $active;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &>span {
                margin-left: 5px;
            }
        }
    }
}