.mainInfo {
    height: 100%;
    &__inner {
        padding: 40px 40px 20px;
        height: inherit;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        &-left {
            margin-right: 15px;
        }
    }

    &__content {
        display: flex;
        margin: 40px 0;

        &-left {
            width: 100%;
            max-width: 288px;
            padding: 0 10px;
        }

        &-right {
            width: 100%;
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            &::-webkit-scrollbar {
                width: 0;
                background-color: transparent;
            }

        }

        &-card {
            padding: 0 10px;
            margin-bottom: 20px;
            width: 100%;
            max-width: calc(100% / 4);
            transition: all .9s ease;
            perspective: 10000px;

            &:nth-child(4n) {
                margin-right: 0;
            }

            &.animated {
                transition: all .6s ease;
                transform: scale(0);

                width: 0;
                padding: 0;
                height: 0;
                margin: 0;
            }

            &.exist {
                pointer-events: none;

                &>._card {
                    background-color: #ccc;
                }
            }
        }
    }
}