.settings {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__item{
        &-wrapper{
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &>span {
            width: 100%;
            max-width: 295px;
            text-align: right;
            margin-right: 16px;
        }

        &-search {
            width: 100%;
            max-width: 565px;

            &>.searchInput {
                width: 100% !important;
                max-width: none;
            }
        }
    }
    &__right,
    &__left{
        display: flex;
    }
    &__right{
        align-items: center;
        margin-bottom: 24px;
    }

    &__bottom {
        width: 100%;
        display: flex;
        &-title {
            width: 100%;
            max-width: 295px;
            text-align: right;
            margin-right: 16px;

        }

        &-body {
            width: 100%;
            max-width: 565px;
            max-height: 280px;
            overflow-x: hidden;
        }
    }

    &__body {
        &-owner {
            width: 100%;
            max-width: 565px;
            display: flex;
            align-items: center;
            justify-content: center;

            &>div {
                width: 100%;
                margin-right: 15px;
            }
        }

        &-item {
            margin-top: 12px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-managers{
            width: 100%;
            max-width: 565px;
        }
    }
   
}


.owner {
    &__img {
        width: 100%;
        max-width: 35px;
        min-width: 35px;
        height: 35px;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        position: relative;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__name,
    &__email {
        display: block;
        width: 100%;
        max-width: 115px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #212529;
        // font-size: 1px;
    }

    &__add,
    &__remove {
        font-size: 18px;
        font-weight: 600;
        margin-left: 8px;
        cursor: pointer;
        background-color: #ccc;
        color: #fff;
        width: 100%;
        max-width: 32px;
        min-width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: all .3s ease;
        margin-right: 0;
        border: 1px solid transparent;

        &:hover {
            background-color: #fff;
            border-color: #ccc;
            color: #ccc;
        }
    }
}