@import '../vars.scss';

.sideBar {
    width: 100%;
    max-width: 300px;
    background-color: #1D2127;
    transition: max-width .2s ease;
    padding-bottom: 50px;

    &.clamped {
        width: 100%;
        max-width: 73px;

        .sideBar__top-left {
            display: none;
        }

        .sideBar__item-inner {
            display: none !important;
        }

        .sideBar__item-top-title {
            display: none;
        }

        .sideBar__item-arrowDown {
            display: none;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-height: 50px;

        &-left {
            width: 100%;
            padding: 14px;
            background-color: #1D2127;
        }

        &-right {
            width: 100%;
            // padding: 100%;
            min-height: 100%;
            max-width: 73px;
            background-color: #171717;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

            &:hover {
                &-wrapper>div {
                    background-color: $active;
                }
            }

            &-wrapper {
                &>div {
                    width: 12px;
                    background-color: #fff;
                    height: 2px;
                    transition: background-color .3s ease;

                    pointer-events: none;

                    &:first-child {
                        margin-bottom: 2px;
                    }

                    &:last-child {
                        margin-top: 2px;
                    }
                }
            }

        }
    }

    &__bottom {
        height: 100%;
        max-height: 800px;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 4px;
            background-color: transparent;
            border: 1px solid #CCC;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 10px;
        }
    }
}