.tabs {
    display: flex;

    &__left {
        width: 100%;
        max-width: 305px;
        background-color: #f9f9f9;

        &-item {
            padding: 19px 22px;
            color: #222529;
            font-weight: 700;
            font-size: 14px;
            border-bottom: 1px solid #efefef;
            cursor: pointer;
            transition: all .3s ease;
            &.active{
                background-color: #fff;
            }
            &>span {
                pointer-events: none;
            }

            &:hover {
                background-color: #fff;
            }
        }
    }

    &__right {
        width: 100%;
        padding: 40px 32px;

        &-item {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    &__item {
        &-rows {
            // padding: 15px;
            width: 100%;
            margin-bottom: 24px;

            display: flex;
            flex-wrap: wrap;

            &>.tieVideo {
                width: 100%;
                height: 100%;
                min-height: 316px;
                max-width: 260px;
                border: 3px dashed #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 35px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color .3s ease, color .3s ease;

                &:hover {
                    background-color: #ccc;
                    color: #fff;
                }
            }
        }

        &-row {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #f3f3f3;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-add {
            width: 100%;
            max-width: 965px;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            align-items: flex-start;

            &>button {
                width: 100%;
                max-width: 135px;
            }

            &.add {
                .tabs__add-row {
                    display: flex;
                }
            }
        }

        &-caption {
            display: flex;
            width: 100%;
            padding-top: 16px;
            margin-bottom: 16px;

            &>span {
                width: 100%;
                max-width: 295px;
                text-align: right;
                margin-right: 24px;
            }

            &>textarea {
                width: 100%;
                max-width: 565px;
                resize: none;
                padding: 6px 12px;
                border: 1px solid #e7e7e7;
                font-size: 13px;
                line-height: 2.3;
                height: 134px;
            }
        }

        &-stories {
            display: flex;
            margin-bottom: 15px;

            // justify-content: center;
            &>span {
                width: 100%;
                max-width: 295px;
                text-align: right;
                margin-right: 24px;
            }

            &>div {
                max-width: 565px;
            }
        }

        &-tags {
            display: flex;
            align-items: center;

            &>span {
                width: 100%;
                max-width: 295px;
                text-align: right;
                margin-right: 24px;
            }
        }

        &-tag {
            margin-right: 2px;
            color: white;
            background-color: #0275d8;
            padding: 0 8px;
            border-radius: 3px;
            border: 1px solid #01649e;
            display: flex;
            align-items: center;

            &>span {
                position: relative;
                padding-left: 8px;
                padding-right: 8px;
                cursor: pointer;
                height: 8px;
                display: block;
                width: 5px;

                &::after {
                    content: '';
                    width: 10px;
                    height: 3px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                    display: block;
                }
            }

            // margin-bottom: ;
        }
    }

    &__tags {
        &-input {
            display: flex;
            flex-wrap: wrap;
            // align-items: center;
            width: 100%;
            padding: 6px 12px;
            border: 1px solid #e7e7e7;
            font-size: 13px;
            line-height: 2.3;
            font-weight: 400;
            max-width: 565px;
            color: #212529;
            border-radius: 5px;
            // height: 43px;

            &>input {
                width: auto;
                min-width: 52px;
                max-width: inherit;
            }
        }
    }

    &__row {

        &-first,
        &-second {
            margin-right: 24px;
        }

        &-first,
        &-second,
        &-third {
            width: 100%;

            &>input {
                height: 40px;
                font-size: 13px;
                line-height: 2.3;
                border: 1px solid #e7e7e7;
                width: 100%;
                color: #212529;
                border-radius: 3px;
                padding: 6px 12px;
            }
        }

        &-first {
            max-width: 170px;

            &.add {
                max-width: 100%;
            }
        }

        &-second.add {
            max-width: 100%;

            &>textarea {
                width: 100%;
                height: 140px;
                line-height: 2.3;
                font-size: 13px;
                border: 1px solid #e7e7e7;
                padding: 6px 12px;
                resize: none;
            }
        }

        &-second,
        &-third {
            max-width: 360px;
        }

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>span {
                font-weight: 400;

                &:nth-child(2) {
                    color: #ea5455;
                    cursor: pointer;
                }
            }
        }
    }

    &__dropzone {

        &-stories {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

        }

        &-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 0 0 auto;
            max-width: calc(100% / 4);
            min-height: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            
            
            &.exist{
                &>button{
                    background-color: gray;
                    user-select: none;
                    pointer-events: none;
                }
            }
            &.tie {
                width: 100%;
                min-height: 205px;
                border: 3px dashed #ccc;

                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

                font-weight: 500;
                font-size: 35px;

                border-radius: 5px;
                margin-bottom: 10px;

                cursor: pointer;
                transition: background-color .3s ease, color .3s ease;

                &:hover {
                    background-color: #ccc;
                    color: #fff;
                }
            }

            &-img {
                width: 100%;
                height: 100%;
                min-width: 108px;
                margin-bottom: 10px;
                position: relative;
                padding-top: 52%;

                &>img {
                    max-width: 100%;
                    min-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-body {
                margin-bottom: 10px;
            }

            &-type,
            &-title {
                display: block;
            }

            &-type {
                color: #999;
                line-height: 22px;
                font-weight: 400;
                font-size: 14px;
            }

            &-title {
                color: #2e353e;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.2;
                word-break: break-all;
            }
        }
    }

    &__third {
        &-wrapper {
            display: flex;
            align-items: center;
            height: 40px;
            border: 1px solid transparent;

            &>input {
                height: 100%;
                font-size: 13px;
                line-height: 2.3;
                border: 1px solid #e7e7e7;
                width: 100%;
                color: #212529;
                border-radius: 3px;
                padding: 6px 12px;
            }

            &>span {
                width: 100%;
                height: 100%;
                max-width: 45px;
                padding: 6px 12px;
                background-color: #e9ecef;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &>label {
                display: flex;
                align-items: center;

                &>input {
                    display: none;
                }
            }
        }

        &-input,
        &-btn {
            padding: 7px 12px;
            line-height: 20px;
            font-size: 14px;
            cursor: pointer;
            color: #333;
            border: 1px solid #ccc;
            background-color: transparent;
            transition: background-color .3s ease;

            &:hover {
                background-color: #ccc;
            }
        }

        &-input {
            &-text {
                // &:first-child {
                //     display: none;
                // }
            }
        }

        // &-btn {
        //     display: none;

        //     &.active {
        //         display: block;
        //     }
        // }
    }

    &__add {

        &-row {
            display: flex;
            width: 100%;
            margin-top: 47px;
        }

        &-wrapper {
            width: 100%;
        }

        &-left {
            margin-right: 24px;
            width: 100%;
            max-width: 290px;

            &-label {
                display: block;
                margin-top: 16px;
                cursor: pointer;

                &>input[type='checkbox'] {
                    margin-right: 5px;
                }
            }
        }

        &-right {
            width: 100%;
            max-width: 550px;
        }
    }
}

.artist__videos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        &>span {
            cursor: pointer;
        }
    }
}


.tieVideo {
    width: 100%;
    max-width: 300px;
    min-height: 225px;
    border: 3px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
        background-color: #ccc;
        color: #fff;
    }
}