@mixin inputPadding($pt, $pr, $pb, $pl) {
    padding: $pt $pr $pb $pl;
}

@mixin btn($p, $br, $bgc) {
    padding: $p;
    border-radius: $br;
    background-color: $bgc;
}

@mixin contentFilter($ptb, $plr, $br) {
    padding: $ptb $plr;
    border-radius: $br;
}

@mixin card($pt, $br) {
    padding: $p;
    border-radius: $br;
}


@mixin settings($ptb,$plr) {
    padding: $ptb $plr;
}