@import '../vars.scss';


// -----FONTS-----
%font-input {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.85;
    color: $input-txt-color;
}

%font-user-name {
    color: $user-name;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
}

%font-user-role {
    color: $user-role;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
}

%font-sidebar-top {
    color: #465162;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

%font-sidebar-item {
    color: $sideBar-item;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    
    
}

%font-contentHeader-title {
    color: $white;
    font-size: 19px;
    font-weight: 400;
    line-height: 50px;
}

%font-contentHeader-crumb {
    color: #C3C3C3;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

%font-btn {
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

%font-contentFilter-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: $contentFilter-top-title;
}

%font-contentHeader-body {
    color: $bodyColor;
    line-height: 22px;
    font-weight: 400;
    font-size: 13px;
}

%font-card-sub-title {
    color: #999;
    line-height: 22px;
    font-weight: 400;
    font-size: 14px;
}

%font-card-title {
    color: $card-title;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
}

%font-profile-title {
    color: $profile-title;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

%font-profile-desc {
    color: $bodyColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

%font-input-label {
    color: $bodyColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}