@import '../samples/fonts.scss';
@import '../vars.scss';

.btn {
    @extend %font-btn;
    padding: 12px 24px;
    color: #fff;
    border-radius: 3px;
    transition: background-color .3s ease;

    &.primary,
    &.default,
    &.cancel,
    &.delete {
        transition: all .6s ease;

        &:hover {
            transition: all .4s ease;
        }
    }

    &.primary,
    &.default {
        background-color: $active;
        border: 1px solid transparent;

        &:hover {
            // background-color: rgba($color: $active , $alpha: .9);
            background-color: transparent;
            border-color: $active;
            color: $active;
        }
    }

    &.cancel {
        background-color: #FFF;
        color: #2e353e;
        padding: 16px 28px;
        border: 1px solid transparent;

        &:hover {
            // background-color: rgba($color: #fff , $alpha: .9);
            background-color: transparent;
            border-color: #2e353e;
            color: #2e353e;
        }
    }

    &.delete {
        background-color: #d2322d;
        color: #FFF;
        padding: 16px 28px;
        border: 1px solid transparent;

        &:hover {
            // background-color: rgba($color: #d2322d , $alpha: .9);
            background-color: transparent;
            border-color: #d2322d;
            color: #d2322d;
        }
    }
}