.customSelect {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #e7e7e7;

    &.opened {
        .customSelect__dropDown {
            display: block;
        }
    }

    &__label {
        
        margin-right: 24px;
        width: 100%;
        max-width: 295px;
        flex: 1 1 295px;
        text-align: right;

        &::after {
            content: '*';
            color: #d2322d;
        }
    }

    &__right {
        width: 100%;
        max-width: 565px;
        position: relative;
    }

    &__input {
        width: 100%;
        max-width: 565px;
        height: 43px;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 5px;

        &>input {
            border: 1px solid #e7e7e7;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            padding: 6px 24px 6px 12px;

            // pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            mask-image: url('../../public/arrowDown.svg');
            background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 19px;
            height: 19px;
            display: block;
        }
    }

    &__dropDown {
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 3;
        width: 100%;
        border-radius: 5px;
        max-height: 214px;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: transparent;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 5px;
            width: 4px;
        }

        &-items {
            padding: 4px 0;
        }

        &-item {
            padding: 6px;
            cursor: pointer;

            &.hovered {
                background-color: rgba($color: #ccc, $alpha: .4);
            }

            &:hover {
                background-color: rgba($color: #ccc, $alpha: .4);
            }
        }
    }
}