@import '../samples/samples.scss';

._input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;

    &:not(:first-child) {
        padding-top: 16px;
    }

    &.icon {
        &:not(:first-child) {
            padding-top: 16px;
        }
    }

    &__label {
        width: 100%;
        max-width: 295px;
        flex: 1 1 295px;
        text-align: right;
        margin-right: 24px;

        @extend %font-input-label;

        &.name,
        &.label_company,
        &.venue,
        &:not(.not).youtubeLink,
        &.ticket_links,
        &.tel,
        &.email,
        &.lastname,
        &.slug {
            &::after {
                content: '*';
                color: #d2322d;
            }

            // &::last-letter{
            //     color: #0088CC;
            // }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid #e7e7e7;
        max-width: 565px;
        // flex-basis: 565px;
        // flex: 0 1 565px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;

        &-input {
            width: 100%;
            height: 100%;
            font-size: 13px;
            line-height: 2.3;
            font-weight: 400;
            padding: 0 12px;
            border: 1px solid transparent;

        }

        &-icon,
        &-flag {
            width: 100%;
            max-width: 40px;
            height: 100%;
            padding: 6px 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.gray {
                background-color: #e9ecef;
            }

            &.web {
                background-color: #5bc0de;
            }

            &.tg {
                background-color: #2e353e;
            }

            &.vk,
            &.fc {
                background-color: #0088CC;
            }

            &.ok,
            &.inst {
                background-color: #ed9c28;
            }

            &.yt {
                background-color: #d2322d;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #e7e7e7;
        font-size: 13px;
        line-height: 2.3;
        font-weight: 400;
        max-width: 565px;
        // flex-basis: 565px;
        color: #212529;
        border-radius: 5px;
    }
}