@import '../vars.scss';

.searchInput {
    width: 100%;
    max-width: 190px;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 39px;
    overflow: hidden;

    &__input {
        @extend %font-input;
        width: 100%;
        padding: 6px 12px;
        color: $input-txt-color;
        &::placeholder{
            @extend %font-input;
        }
    }

    &.bordered {
        border: 1px solid #EDEDED;
        border-radius: 3px;
    }

    &.solid {
        border-radius: 35px;
        .searchInput__input{
            padding-left: 20px;
        }
        .searchInput__btn {
            border-left: none;
            &:hover{
                background-color: transparent;
            }
        }
    }

    &__btn {
        height: 100%;
        width: 100%;
        max-width: 42px;
        background-color: transparent;
        border-left: 1px solid #ced4da;
        padding: 7px 12px;
        transition: background-color .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: #ced4da;
        }
    }

}