@import '../samples/samples.scss';

._select {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #e7e7e7;

    &__label {
        width: 100%;
        max-width: 295px;
        flex: 1 1 295px;
        text-align: right;
        margin-right: 24px;
        &::after{
            content: '*';
            color: #d2322d;
        }
        @extend %font-input-label;
        
    }

    &__select {
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #e7e7e7;
        font-size: 13px;
        max-width: 565px;
        font-weight: 400;
        color: #212529;
        border-radius: 5px;
        line-height: 2.3;
        height: 43px;
        -webkit-appearance: none;
        background-image: url('../../public/arrowDown.svg');
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
    }
}