@import '../vars.scss';
@import '../samples/samples.scss';

.sideBar {
    &__item {
        color: $sideBar-item;
        width: 100%;
        cursor: pointer;
        @extend %font-sidebar-item;
        transition: background-color .3s ease, color .3s ease, max-height .3s ease;
        position: relative;
        overflow: hidden;

        height: 100%;
        &:not(:first-child){
            max-height: 46px;
        }

        &.opened {
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: $active;
                height: 100%;
                max-height: 46px;
                width: 2px;
            }
            &{
                // height: 236px;
                // transition: height .3s ease;
                max-height: 236px;
            }
            .sideBar__item-top {
                background-color: #21262d;
            }

            .sideBar__item-inner {
                transition: opacity .4s ease;
                opacity: 1;
                // visibility: visible;
                // transform: translateY(0);
                // height: 100%;
                // visibility: visible;
                // display: block;
                // height: 100%;
                // // visibility: visible;
                // position: relative;
                // overflow: visible;
                // top: 100%;
            }

            .sideBar__item-top-title {
                color: $active;
            }

            .sideBar__item-arrowDown {
                transform: rotateZ(180deg);
            }
        }


        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: background-color .3s ease, color .3s ease;
            pointer-events: none;
            padding: 12px 25px;

            &-title {
                // width: 100%;
                max-width: 150px;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-left: 10px;
            }
        }

        &-left {
            display: flex;
            align-items: center;

            &>img {
                margin-right: 9px;
            }
        }

        &-arrowDown {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
        }

        &:hover:not(.opened) {
            .sideBar__item-top {
                background-color: #21262d;
                color: $active;
            }

            .icon {
                fill: $active !important;
            }
        }

        &-inner {
            border-color: #171717;
            padding: 10px 0;
            width: 100%;
            z-index: 2;
            display: block; 
            opacity: 0;

            &-item {
                padding: 6px 15px 6px 57px;
                cursor: pointer;
                transition: color .3s ease;
                &.active{
                    color: $active;
                }
                &:hover {
                    color: $active;
                }
            }
        }
    }
}