.registration {
    height: 100vh;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 15px;
    }

    &__modal {
        width: 100%;
        max-width: 470px;
        color: #fff;

        &-logo {
            width: 100%;
            height: auto;
            max-width: 150px;
            min-height: 63px;
            // margin-bottom: 16px;
            position: relative;

            &>img {
                width: 100%;
                height: auto;
            }
        }

        &-top {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-bottom: 5px solid #0088CC;
            border-radius: 5px 5px 0 0;
        }

        &-tooltip {
            padding: 13px 17px;
            background-color: #0088CC;
            border-radius: 5px 5px 0 0;
            display: flex;
            align-items: center;
            height: 68px;

            &-logo{
                max-width: 20px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
            }
            &>span {
                font-size: 12px;
                font-weight: 600;
            }

            &>img {
                width: 100%;
                max-width: 20px;
                margin-right: 5px;

                &.svg {
                    .user_svg {
                        fill: #fff;
                    }
                }
            }
        }

        &-body {
            padding: 33px 33px 15px 33px;
            background-color: #fff;

        }

    }

    &__body {
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.password {
                padding-top: 16px;
                border-top: 1px solid #f3f3f3;
            }

            &>span {
                &:first-child {
                    color: #777;
                }

                &:nth-child(2) {
                    color: #0088CC;
                    cursor: pointer;
                }
            }
        }

        &-input {
            display: flex;
            align-items: center;
            width: 100%;
            height: 48px;
            border-radius: 5px;
            border: 1px solid #ced4da;
            overflow: hidden;

            &.login {
                margin-bottom: 16px;

            }

            // margin-bottom: 16px;

            &>input {
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                font-size: 1.25 * 13px;
                font-weight: 400;
                line-height: 1.5;
            }
            &>button{
                height: 100%;
                width: 100%;
                max-width: 85px;
                background-color: #0088CC;
                color: #fff;
                font-size: 13px;
                // padding: 8px 16px;
                font-weight: 600;
            }
        }

        &-sign {
            &.Up,
            &-In {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 16px;
                margin-bottom: 16px;


                &>label {
                    color: #777;
                    width: 100%;
                    max-width: 119px;
                    cursor: pointer;

                    &>input[type='checkbox'] {
                        margin-right: 5px;
                        width: 100%;
                        max-width: 18px;
                    }
                }

                &>button {
                    width: 100%;
                    max-width: 75px;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: center;
                    padding: 7px 12px;
                    color: #fff;
                    font-size: 14px;
                    background-color: #0088CC;
                    border-radius: 5px;
                }
            }
            &.In{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                &>button{
                    width: 100%;
                    // max-width: 85px;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: center;
                    padding: 7px 12px;
                    color: #fff;
                    font-size: 14px;
                    background-color: #0088CC;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }
            }
        }

        &-sign {
            &.Up,
            &.In{
                color: #777;
                display: flex;
                align-items: center;
                justify-content: center;
    
                &>span:last-child {
                    color: #0088CC;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }

        &-password {
            display: flex;
            align-items: center;
        }
        &-note{
            background-color: #cff4fc;
            color: #055160;
            padding: 16px;
            border-radius: 5px;
            margin-bottom: 16px;
        }
        &-remembered{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #777;
            margin-top: 16px;
            &>span:nth-child(2){
                color: #0088CC;
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }

    &__password {
        &-left {
            margin-right: 24px;
        }
    }

    &__input {
        &-icon {
            padding: 6px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #e9ecef;
            width: 100%;
            max-width: 45px;
            &>img{
                width: 100%;
                height: 100%;
            }
        }
    }

}