.concerts {
    height: 100%;
    &__inner {
        padding: 40px;
        height: inherit;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }
    }

    &__table {
        background-color: #fff;
        padding: 25px;
        border-radius: 5px;
        margin-bottom: 55px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }

        &-btns {
            display: flex;
            align-items: center;

            &>select {
                padding: 6px 12px;
                background-color: #f4f4f4;
                font-size: 14px;
                font-weight: 700;
                color: #333;
                line-height: 2.7;
                height: 53px;
                width: 100%;
                max-width: 173px;
                margin-right: 10px;
                -webkit-appearance: none;
                background-image: url('../public/arrowDown.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: calc(100% - 13px) center;
            }

            &>button {
                border: 1px solid #dee2e6;
                font-weight: 600;
            }
        }
    }

    &__top {
        &-left {
            margin-right: 15px;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }

    &__right {

        &-status,
        &-show {
            display: flex;
            align-items: center;
            margin-right: 12px;

            &>span {
                margin-right: 13px;
            }

            &>select {
                cursor: pointer;
                padding: 6px 27px 6px 6px;
                background-color: #f4f4f4;
                font-size: 14px;
                font-weight: 700;
                color: #333;
                line-height: 2.7;
                height: 48px;
                -webkit-appearance: none;
                background-image: url('../public/arrowDown.svg');
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) center;
            }
        }

        &-input {
            &>div {
                &>input {
                    background-color: #f4f4f4 !important;
                }

                &>button {
                    background-color: #f4f4f4 !important;
                }
            }
        }
    }

    &__content {

        &-item {
            &-wrapper {
                // padding: 0 25px;
                display: flex;
                align-items: center;
                width: 100%;

                &>div {
                    width: 100%;
                    max-width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                }

                transition: all .3s ease;

                &:nth-child(even) {
                    background-color: #f9f9f9;
                    box-shadow: inset 0 0 0 9999px rgba($color: #000000, $alpha: 0.05);
                }

                &>li {
                    border-bottom: 2px solid #dee2e6;
                }
            }

            // padding: 0 25px;
            padding: 8px;
            display: flex;
            align-items: center;

            &.top {
                // padding: 8px 25px;
                padding: 8px;
                font-weight: 700;
                border-bottom: 2px solid #dee2e6;
            }

            width: 100%;
            cursor: pointer;

            .concerts__item-date,
            .concerts__item-city {
                font-weight: 700;
                color: #0088CC;
                cursor: pointer;
            }

            // &:not(:first-child) {

            //     // .concerts__item-date,
            //     // .concerts__item-city {
            //     //     font-weight: 700;
            //     //     color: #0088CC;
            //     //     cursor: pointer;
            //     // }
            // }

            &>input[type="checkbox"] {
                margin-right: 8px;
                width: 17px;
                height: 17px;
            }

            &>span {
                display: block;
                width: 100%;
                color: #212529;
                text-align: left;
                margin-right: 16px;

                &:first-child {
                    max-width: 147px;
                }

                &:last-child {
                    margin-right: 0;
                }

                max-width: 427px;
            }
        }
    }
}