@media (max-width:1599px) {
    .mainInfo {
        &__inner {
            padding: 40px 30px;
        }

        &__top {
            padding: 0 10px;
        }

        &__content {
            &-left {
                max-width: 220px;
                margin-right: 10px;
                padding-left: 10px;
            }

            &-card {
                max-width: calc(100% / 3);
                margin-right: 0;
                // padding: 0 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .tabs__dropzone-card {
        max-width: calc(100% / 3);
        margin-right: 0;
    }

}

@media (max-width:1299px) {
    .mainInfo {
        // &__inner {
        //     padding: 40px 30px;
        // }

        // &__top {
        //     padding: 0 10px;
        // }

        &__content {
            &-left {
                max-width: 220px;
                margin-right: 10px;
                padding-left: 10px;
            }

            &-card {
                max-width: calc(100% / 2);
                margin-right: 0;
                // padding: 0 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width:1199px) {
    .mainInfo {
        &__inner {
            padding: 40px 30px;
        }

        &__top {
            padding: 0 10px;
        }

        &__content {
            &-left {
                // max-width: 315px;
                margin-right: 10px;
                padding-left: 10px;
            }

            &-card {
                max-width: calc(100% / 2);
                margin-right: 0;
                padding: 0 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .settings__right {
        flex-wrap: wrap;
    }

    .settings__bottom-title {
        text-align: left;
    }

    .settings__bottom,
    .settings__top,
    .settings__left {
        flex-wrap: wrap;

        &>span {
            text-align: left;
        }
    }

    .tabs__dropzone-card {
        max-width: calc(100% / 2);
        margin-right: 0;
    }
}


// @media (max-width:991px) {
@media (max-width:1024px) {
    .concerts__inner {
        padding: 10px;
    }

    .concerts__top-left {
        margin-bottom: 12px;
    }

    .concerts__table-top {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .concerts__top-right {
        flex-wrap: wrap;
    }

    .mainInfo {
        &__inner {
            // padding: 15px;
            padding: 15px 0;
        }

        &__top {
            align-items: center;
            padding: 0 15px;
        }

        &__content {
            margin-top: 15px;
            flex-wrap: wrap;


            &-left {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 24px;
                padding: 0 15px;
            }

            &-card {
                max-width: calc(100% / 2);
                margin-right: 0;
                padding: 0 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .contentFilter {
        max-width: 100%;
    }

    .currentInfo__main {
        flex-wrap: wrap;
    }

    .currentInfo__main-left {
        max-width: 100%;
        // flex-basis: 100%;
        flex: 1 0 auto;
    }

    ._input,
    ._select {
        flex-wrap: wrap;

        &__label {
            max-width: 100%;
            text-align: left;
        }

        &__input {
            width: 100%;
            max-width: 100%;
        }

        &>select {
            width: 100%;
            max-width: 100%;
        }
    }

    .currentInfo__right-input {
        flex-wrap: wrap;

        &>span {
            width: 100%;
            text-align: left;
        }

        &>textarea {
            max-width: 100%;
        }
    }

    .currentInfo__input {
        width: 100%;
        max-width: 100%;
    }

    .currentInfo__graphics {
        flex-wrap: wrap;
    }

    .currentInfo__graphics-left {
        max-width: 100%;
        // flex-basis: 100%;
        flex: 1 0 auto;
    }

    .tabs {
        flex-wrap: wrap;

        &__left {
            max-width: 100%;
        }

        // &__right{
        //     padding: 15px;
        // }

        &__item-row {
            flex-wrap: wrap;

            &>div {
                max-width: 100%;
                margin-right: 0;
            }
        }

        &__row-second {
            margin-bottom: 24px;
        }

        &__item {
            &-rows {
                padding: 0;
                justify-content: space-between;
            }

            &-tags,
            &-caption,
            &-stories {
                flex-wrap: wrap;

                &>span {
                    width: 100%;
                    max-width: 100%;
                    text-align: left;
                }

                &>div {
                    max-width: 100%;
                }

                &>textarea {
                    max-width: 100%;
                }
            }
        }
    }

    // .tieVideo{
    //     max-width: 281px;
    // }

    .currentInfo__managers {
        flex-wrap: wrap;
    }

    .settings__top,
    .settings__bottom,
    .settings__right,
    .settings__left {
        flex-wrap: wrap;

        &>span {
            max-width: 100%;
            text-align: left;
        }

        &>div {
            max-width: 100%;
        }
    }

    .customSelect {
        flex-wrap: wrap;
    }

    .customSelect__label {
        text-align: left;
    }

    .customSelect__right {
        max-width: 100%;
    }

    .currentInfo__btns {
        flex-wrap: wrap;

        &-left {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            &>button {
                width: 100%;
                margin-right: 0;
                margin-bottom: 16px;
            }
        }

        &>button {
            width: 100%;
        }
    }
}

@media (max-width:767px) {
    .header {
        flex-wrap: wrap;
        height: auto;

        &__left {
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        &__burger {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #0088CC;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &>span,
            &>span::before,
            &>span::after {
                display: block;
                position: absolute;
                width: 100%;
                max-width: 10px;
                height: 2px;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
            }

            &>span::before,
            &>span::after {
                content: '';
            }

            &>span::before {
                top: -4px;
            }

            &>span::after {
                bottom: -4px;
            }
        }

        &__input-wrapper {
            justify-content: flex-start;
        }
    }

    .contentHeader__right {
        display: none;
    }

    .sideBar {
        // display: none;
        position: absolute;
        z-index: 7;
        left: 0;
        top: 55px;
        bottom: 0;
        height: 100vh;
        transform: translateX(-500%);
        transition: all .4s ease;

        &.show {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 7;
            width: 100%;
            height: 100%;
            max-width: 100%;

            transform: translateX(0);
            transition: all .4s ease;

            .sideBar__top {
                display: none;
            }
        }
    }

    .layout__wrapper {
        top: 106px;
    }


    .mainInfo {
        &__inner {
            // padding: 15px;
            padding: 15px 0;
            // height: 100vh;
        }

        &__top {
            align-items: center;
            padding: 0 15px;
        }

        &__content {
            margin-top: 15px;
            flex-wrap: wrap;
            margin-bottom: 40px;


            &-left {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 24px;
                padding: 0 15px;
            }

            &-card {
                max-width: calc(100% / 2);
                margin-right: 0;
                padding: 0 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .contentFilter {
        max-width: 100%;
    }

    .currentInfo__main {
        flex-wrap: wrap;
    }

    .currentInfo__main-left {
        max-width: 100%;
    }

    ._input,
    ._select {
        flex-wrap: wrap;

        &__label {
            max-width: 100%;
            text-align: left;
        }

        &__input {
            width: 100%;
            max-width: 100%;
        }

        &>select {
            width: 100%;
            max-width: 100%;
        }
    }

    ._input__item {
        max-width: 100%;
    }

    .currentInfo__right-input {
        flex-wrap: wrap;

        &>span {
            width: 100%;
            text-align: left;
        }

        &>textarea {
            max-width: 100%;
        }
    }

    .currentInfo__input {
        width: 100%;
        max-width: 100%;
    }

    .currentInfo__graphics {
        flex-wrap: wrap;
    }

    .currentInfo__graphics-left {
        max-width: 100%;
    }

    .tabs {
        flex-wrap: wrap;

        &__left {
            max-width: 100%;
        }

        // &__right{
        //     padding: 15px;
        // }

        &__item-row {
            flex-wrap: wrap;

            &>div {
                max-width: 100%;
                margin-right: 0;
            }
        }

        &__row-second {
            margin-bottom: 24px;
        }

        &__item {

            &-tags,
            &-caption,
            &-stories {
                flex-wrap: wrap;

                &>span {
                    width: 100%;
                    max-width: 100%;
                    text-align: left;
                }

                &>div {
                    max-width: 100%;
                }

                &>textarea {
                    max-width: 100%;
                }
            }
        }

        &__dropzone {
            &-stories {
                width: 100%;

                &>li {
                    max-width: 100% !important;
                }
            }
        }
    }

    .tieVideo {
        max-width: 100% !important;
    }


    .currentInfo__managers {
        flex-wrap: wrap;
    }

    .settings__top,
    .settings__bottom,
    .settings__right,
    .settings__left {
        flex-wrap: wrap;

        &>span {
            max-width: 100%;
            text-align: left;
        }

        &>div {
            max-width: 100%;
        }
    }

    .customSelect {
        flex-wrap: wrap;
    }

    .customSelect__label {
        text-align: left;
    }

    .customSelect__right {
        max-width: 100%;
    }

}

@media (max-width:575px) {

    .mainInfo__top {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-left {
            margin-right: 0;
            margin-bottom: 24px;
        }
    }

    .mainInfo__content-card {
        // max-width: 100%;
        flex-wrap: nowrap;
    }

    .currentInfo__btns {
        flex-wrap: wrap;

        &-left {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            &>button {
                width: 100%;
                margin-right: 0;
                margin-bottom: 16px;
            }
        }

        &>button {
            width: 100%;
        }
    }

    .currentInfo__inner {
        padding: 12px;
    }

    .concerts__content-item {
        // flex-wrap: wrap;

        &>span {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
                display: none;
            }
        }
    }

    // .tabs__right {
    //     // padding: 0;
    // }
    .currentInfo__input-wrapper {

        // flex-wrap: wrap;
        &>div {
            &>span {
                display: none;
            }
        }
    }

    // .currentInfo__input-date {
    //     margin-right: 0;
    //     margin-bottom: 10px;
    // }

    .tabs__dropzone-card {
        max-width: 100%;
    }

    // .concerts__content-item {
    //     // flex-wrap: wrap;
    //     &>span:last-child{
    //         display: none;
    //     }
    // }
    .concerts__content-item.top {
        display: none;
    }
}



@media (max-width:375px) {
    .concerts__content-item {
        &>span:nth-child(3) {
            display: none;
        }
    }
}