@import './vars.scss';

body {
    width: 100%;
    height: 100%;
    color: $bodyColor;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-size: 13px;
    font-weight: 400;
    background-color: #ecedf0;

    user-select: none;
    overflow: hidden;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 0;
    }
}


.layout {
    width: 100%;
    height: 100%;
    max-width: 1920px;

    &__wrapper {
        display: flex;
        position: fixed;
        left: 0;
        top: 60px;
        right: 0;
        bottom: 0;
        max-width: 1920px;
    }
    &__content{
        width: 100%;
        position: relative;
    }
}

.error{
    color: red;
}
.input__error{
    border-color: red !important;
}

.empty{
    padding-left: 20px;
    color: #33353F;
    text-transform: uppercase;
    text-align: center;
}


#__next{
    width: 100%;
    height: 100vh;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.notification{
    color: #33353F;
    display: block;
    margin-bottom: 5px;
}
.submit-email{
    cursor: pointer;
    margin-left: 10px;
    font-weight: 700;
    text-decoration: underline;
}

.artists__content{
    height: 100%;
}