$white:#fff;
$bodyColor:#777;
$sideBar-item:#abb4be;

$card-title:#2e353e;
$contentHeader-crumb:#C3C3C3;

$user-name:#000011;
$user-role:#ACACAC;

$contentFilter-top-title:#33353F;

$profile-title:#222529;

$input-txt-color:#212529;


$active:#0088CC;